@import"base";

div {
    background-color:$cor-do-fundo;
    h1{
        color:green;     
    }
    h2{

        color:aqua;
   }
 
}
.lead{
    background-color: yellow;
    
    &:hover{
        background-color: greenyellow;
    }
}
.pessoas{
    background-color: violet;
   
    &:hover{
        color: yellowgreen;
    }
}